.container-fluid {
  background: rgba(0, 0, 0, 0.1);
}

.container-fluid:hover {
  transition: 1.5s ease-in-out;
  transform: translateY(200px);
  background: rgba(0, 0, 0, 0.4);
}

img:hover {
  transition: 1s;
  transform: translateX(20px);
  border: 2px solid greenyellow;
  border-radius: 12px;
  margin-top: -25px;
}

img {
  border-radius: 5px;
  width: 100%;
  height: 250px;
  margin-top: 50px;
}

.col {
  text-align: center;
  height: 400px;
}

@media screen and (max-width: 780px) {
  img {
    width: 90%;
    height: 150px;
  }
}
